/**
 * Lightbox Function
 * Below are styles that control the functionality of the lightbox.
 * Be hesitant to edit these.
 */

.lightbox {
	z-index: 1000
}
.lightbox>input{
	display:none;
}
.lightbox>.content {
	opacity: 0;
	-webkit-transition: .3s opacity;
	-moz-transition: .3s opacity;
	-o-transition: .3s opacity;
	transition: .3s opacity;
	position: fixed;
	top:-200%;
}
.lightbox .overlay {
	position:fixed;
	top:0;
	left: 0;
	display:block;
	height: 100%;
	width: 100%;
	top:-200%;
	opacity:0;
	-webkit-transition: .3s opacity;
	-moz-transition: .3s opacity;
	-o-transition: .3s opacity;
	transition: .3s opacity;
	z-index: 0;
	cursor:pointer;
}
.lightbox>input:checked ~ .content{
	opacity: 1;
}
.lightbox>input:checked ~ .overlay {
	top:0;
}